@page
@model WebApp.Pages_Configs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label asp-for="Config.ConfigName" class="control-label"></label>
                <input asp-for="Config.ConfigName" class="form-control" />
                <span asp-validation-for="Config.ConfigName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.BoardSize" class="control-label"></label>
                <input asp-for="Config.BoardSize" class="form-control" />
                <span asp-validation-for="Config.BoardSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.GridSize" class="control-label"></label>
                <input asp-for="Config.GridSize" class="form-control" />
                <span asp-validation-for="Config.GridSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.PiecesAmount" class="control-label"></label>
                <input asp-for="Config.PiecesAmount" class="form-control" />
                <span asp-validation-for="Config.PiecesAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.PlayerOnePiece" class="control-label"></label>
                <input asp-for="Config.PlayerOnePiece" class="form-control" />
                <span asp-validation-for="Config.PlayerOnePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.PlayerTwoPiece" class="control-label"></label>
                <input asp-for="Config.PlayerTwoPiece" class="form-control" />
                <span asp-validation-for="Config.PlayerTwoPiece" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Config.Id" />
            <div class="form-group">
                
                <label asp-for="Config.CreatedAt" class="control-label"></label>
                <input asp-for="Config.CreatedAt" class="form-control" />
                <span asp-validation-for="Config.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Config.ModifiedAt" class="control-label"></label>
                <input asp-for="Config.ModifiedAt" class="form-control" />
                <span asp-validation-for="Config.ModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
