@page
@model WebApp.Pages.TheGame.NewGameModel

<div class="text-center">
    <h1>Create a New Game</h1>
    <p>Please choose how you want to configure the game:</p>
    <form method="post">
        <button type="submit" name="action" value="new-config" class="btn btn-primary">New Config</button>
        <button type="submit" name="action" value="set-config" class="btn btn-secondary">Load Config</button>
        <button type="submit" name="action" value="play" class="btn btn-secondary">Play</button>
    </form>
</div>