@page
@model WebApp.Pages.TheGame.PlayModel
@{
    Layout = "_Layout";
}


<div class="container">
    <h1>Tic Tac Two - Moveable Matrix</h1>
    <div id="grid" class="grid"></div>
    <div class="controls">
        <button id="move-up">Move Up</button>
        <button id="move-down">Move Down</button>
        <button id="move-left">Move Left</button>
        <button id="move-right">Move Right</button>
    </div>
    <button id="reset" style="margin-top: 20px;">Reset</button>
</div>