@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TIC TAC TWO</h1>
    <form method="post">
        <button type="submit" class="btn btn-primary mt-4">Play</button>
    </form>
</div>